@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #398D1C;
  --primary-opacity: #34A8531A;
  --border-radius: 24px;
  --screen-padding: 5%;
  --text-grey: #000000B2;
  --text-light-grey: #00000099;
  --grey: #F5F5F5;
  --dark-grey: #000000CC;
  --light-grey: #fbfbfbd7;
  --grey-opacity: #0000001A;
}