@font-face {
  font-family: inter;
  src: url("./fonts//Inter-VariableFont_slnt\,wght.ttf");
}

body {
  margin: 0;
  font-family: inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}